@model mvcEF.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Casing.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casing.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cooler.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cooler.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraphicsCard.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraphicsCard.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motherboard.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motherboard.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerSupply.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerSupply.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDComputer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
