@model IEnumerable<mvcEF.Models.CompDrives>

@{
    ViewBag.Title = "Index";
}

<h2>Computer Drives</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Computer.IDComputer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drive.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Computer.IDComputer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drive.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
